

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*
{
	padding:0px;
	margin:0px;
	
	font-family: 'Lato', sans-serif;
}
body
{
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	    
}
.main
{
	padding-right:0px;
}
.outer-background /* outer main background image*/
{
	background-image: url("../img/background.jpg");
	height: 650px;
	width: 100%;
	
}
.inner
{
	background:rgba(0,0,0,0.7);
	height: 650px;
	width: 100%;
}
.custom-navbar
{
	background:rgba(0,0,0,0);
	
	border-color:rgba(0,0,0,0);
	padding-top:20px;
	padding-bottom:20px;
	margin-right:0px;
	
}
.logo
{
	padding:0px 80px 0px 4px;
}
#navbar >.custom-navbar-items >li > a
{
	font-size:16px;
	color:white;
}
#navbar >.custom-navbar-items >li > a:hover
{
	color:#f53700;
}
.custom-navbar .social-links > li > a
{
	color:white;
	font-size:16px;
	
	
	
}
.custom-navbar .social-links > li > a:hover
{
	color:#f53700;
}

.custom-button
{
	background:rgba(0,0,0,0.1);
	color:white;
	margin-top:10px;
	border:2px solid white;
}
.custom-button:hover
{
	background: #FFF;
	color:#f53700;
}
.two
{
	    display: block;
    position: absolute;
    top: 12px;
    left: auto;
    right: 0px;
    font-size: 13px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #f53700;
    border-radius: 50%;
    
    }
.logoimg >img
{
	margin:188px auto  0px;
}
.care > h2
{
	margin:50px auto;
	color:white;
	font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
}

.about-us-main
{
	background:white;
}
.about-us-section-1
{
	padding:94px;
}
.about-us-section-2
{
	padding:94px;
	
}
.about-us
{
	display: inline-block;
	font-size:48px;
	font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
background:rgba(255,255,255,0.9);
margin-bottom:30px;
padding:12px 0px 15px 0px;


}
.about-us::before
{
	border: 4px solid #f53700;
    border-bottom: 0px;
    height: 20px;
    width: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: list-item;
    list-style: none;
    position: relative;
}
.about-us::after
{
	border: 4px solid #f53700;
    border-top: 0px;
    height: 20px;
    width: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: list-item;
    list-style: none;
    position: relative;
}
.about-us-paragraph
{
	color:grey;
	font: 20px;
	display: inline-block;
	padding-top:40px;
	font-style:italic;
	line-height: 1.7em;
	position: relative;
	
}

.our-history-button
{
	background:#f53700;
	margin-top:30px;
	padding:13px 50px;	
}
.reservation-section
{
	background-image: url("../img/reservation-background.jpg");
	height: 1000px;
	width: 100%;
	background-attachment: fixed;
}
.reservation-first-heading,.reservation-second-heading
{
	font-size:42px;
	color:white;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	
}
.reservation-row-one
{
	padding:79px 0px 0px 496px;
	font-weight: bold;
	letter-spacing:2px;
}
.reservation-row-two
{
	padding:15px 0px 0px 568px;
	
	letter-spacing:1px;
}
.reservation-second-heading
{
	font-size: 15px !important;
	font-style: italic;
}

.reservation-row-third-inner,.reservation-row-fourth-inner
{
	padding-left:60px;
	padding-top:40px;
	padding-right:25px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.reservation-row-third-second-coloumn,.reservation-row-third-fourth-coloumn
{
background: white !important;

	
}
.reservation-row-third-first-coloumn,.reservation-row-third-third-coloumn,.reservation-row-third-second-coloumn,
.reservation-row-third-fourth-coloumn
{
	background: url("../img/1.jpg");
	height: 310px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.reservation-row-third-third-coloumn
{
	background: url("../img/2.jpg");
	background-size:cover;

}

.reservation-row-fourth-second-coloumn,.reservation-row-fourth-fourth-coloumn
{
	background-image: url("../img/3.jpg");
	height: 310px;
	background-size:cover;
}
.reservation-row-fourth-fourth-coloumn
{
	background-image: url("../img/4.jpg");
}
.reservation-row-fourth-inner
{
	padding-top:0px;

}
.reservation-row-fourth-first-coloumn,.reservation-row-fourth-third-coloumn
{
	background:#212121;
	height: 310px;
}
.reservation-row-fourth
{
	
}
.reservation-number,.reservation-number-personal
{
	font-size: 16px;
	color:white;
	letter-spacing: 2px;
}
.reservation-row-fourth,.reservation-row-fifth
{
	padding-left:530px;
	padding-top:50px;
	padding-bottom:10px;
}
.reservation-number-personal
{
	font-size:20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 3px;
}
.reservation-row-fifth
{
	padding-top:0px;
	padding-left:570px;
	
}
.row-fourth-menu-section
{
	height: 600px;
	width: 100%;
}
.menu
{
	font-size:40px;
	
}
.row-fourth-inner-row-one
{
	padding-top:70px;
}
.menu::before
{
	border: 4px solid #f53700;
    border-bottom: 0px;
    height: 20px;
    width: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: list-item;
    list-style: none;
    position: relative;
}
.menu::after
{
	border: 4px solid #f53700;
    border-top: 0px;
    height: 20px;
    width: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: list-item;
    list-style: none;
    position: relative;
}
.row-fourth-inner-row-second
{
	padding-top:30px;
	
}
.row-fourth-inner-row-third
{
	padding:0px 0px 120px 0px;
}
.menu-description
{
	font-style:italic;
	color:grey;
	font-size: 17px;
}

.row-fourth-inner-coloumn-first,.row-fourth-inner-coloumn-second,.row-fourth-inner-coloumn-third
{
	background: url("../img/5.jpg");
	height: 310px;
	
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	box-size:border-box;
	padding-top:127px;
	padding-left:124px;
	
	margin:0px 15px 0px 22px;
	width:400px;
}
.row-fourth-inner-coloumn-second
{
	background: url("../img/6.jpg");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.row-fourth-inner-coloumn-third
{
	background: url("../img/7.jpg");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.lunch
{
	font-size:40px;
	color:white;
	font-style:italic;
	font-family: 'Playfair Display', serif;
}
.row-fourth-inner-row-one
{
	padding:112px 0px 43px 0px;
}
.row-fourth-inner-row-second
{
	padding:30px 0px 50px 0px;
}

.breakfast-menu-first,.breakfast-menu-second,.breakfast-menu-third,.breakfast-menu-fourth
{
	width: 100%;
	margin-left:30px;
	
}
.breakfast-menu-second
{
	margin-top:22px;
}
.dish-name
{
	font-size: 17px;
	font-weight: 900;
	margin: 30px 0px 10px 5px;	
	display:inline-block;
}
.dish-price
{
	margin:0px 0px 0px 141px;
	font-size: 21px;
	display: inline-block;
	color:#f53700;
	font-weight: bolder;
}
.oyster-price,.crab-price,.mushroom-price,.chiken-price,.lemon-price,.potato-price
{
	margin:0px 0px 0px 141px;
	font-size: 21px;
	display: inline-block;
	color:#f53700;
	font-weight: bolder;
}

.crab-price
{
	margin: 0px 0px 0px 188px;
}
.mushroom-price
{
	margin: 0px 0px 0px 104px;
}
.chiken-price
{
	margin:0px 0px 0px 178px;
}
.lemon-price
{
	margin:0px 0px 0px 178px;
}
.potato-price
{
	margin:0px 0px 0px 170px;
}
.price-cart
{
	font-size:10px !important;
	color:black;
}

.row-fourth-background
{
	background: url("../img/background-img.jpg");
	background-attachment: fixed;
		height: 500px;
	width: 100%;
	margin-left:0px;	
	
}
.row-fourth-inner-first
{
	padding:74px 0px 0px 0px;
	
}
.testimonial
{
	font-weight: bolder;
	font-size: 48px;
	color:white;
}
.row-fourth-inner-second
{
	padding:16px 0px 10px 0px;
	
}
.clients
{
	font-size: 19px;
	font-style: italic;
	color: #FFF;
	font-family: 'Playfair Display', serif;
	letter-spacing: 1px;	
}
.row-fourth-inner-third
{
	padding:20px 0px 20px 0px;
}
.row-fourth-inner-fourth
{
	padding:20px 0px 20px 0px;
}

.left-arrow 
{
	margin-right:20px;
}
.right-arrow
{
	margin-left: 20px;
}
.left-arrow >a,.right-arrow>a
{
	text-decoration: none;
	color: #FFF;
}
.left-arrow >a:hover,.right-arrow >a:hover
{
	color:#f53700;
	
}
.clients-description
{
	color:white;
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 1px;
	font-style: italic;
}
.full-star
{
	color:#f53700 ;
}
.empty-star
{
	color:#f53700 ;	
}
.mark
{
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	background:none;
}
.row-fourth-inner-sixth
{
	padding:10px 0px 10px 0px;
	
}