/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    
       
        
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
       
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
       

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        

    }


    /*Custom*/
    @media screen and (max-width: 1000px) {
        .social-links {
        display: none ;
        }
    }





    